* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
    --heading-color: #000958;
    --font-heading: Sora, "sans-serif";
    --background-light: #fffaf5;
    --background-dark: #fff6ed;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Poppins, "sans-serif";
}

/* Common */

a {
    text-decoration: none;
}

.btn {
    min-width: 214px;
    padding: 20px 0;
    border-radius: 999px;
    border: 1px solid var(--primary-color);
    opacity: 0.6;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    font-weight: 500;
    font-size: 1.6rem;
    text-align: center;
    color: var(--primary-color);
}

.main-content {
    width: 1170px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Header */
.header {
    background: var(--background-light);
}

.header__body {
    padding: 25px 0;
    display: flex;
    align-items: center;
}

.header__nav {
    margin-left: auto;
}

.header__list {
    display: flex;
}

.header__item + .header__item {
    margin-left: 40px;
}

.header__item a {
    font-weight: 500;
    font-size: 1.4rem;
}

.header__item a:hover {
    font-weight: 600;
}

.header__SignUp-btn {
    margin-left: auto;
    min-width: 117px;
    padding: 17px 0;
    border-color: var(--heading-color);
    opacity: 0.7;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    color: var(--heading-color);
    box-shadow: none;
}

.header__SignUp-btn:hover {
    opacity: 0.6;
}
