* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
    --heading-color: #000958;
    --desc-color: #656689;
    --font-heading: Sora, "sans-serif";
    --background-light: #fffaf5;
    --background-dark: #fff6ed;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Poppins, "sans-serif";
    background: var(--background-light);
}

/* Common */

a {
    text-decoration: none;
}

.btn {
    min-width: 214px;
    padding: 20px 0;
    border-radius: 999px;
    border: 1px solid var(--primary-color);
    opacity: 0.6;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    font-weight: 500;
    font-size: 1.6rem;
    text-align: center;
    color: var(--primary-color);
}

.main-content {
    width: 1170px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.heading1 {
    color: var(--heading-color);
    font-family: var(--font-heading);
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
}

.heading2 {
    color: var(--heading-color);
    font-family: var(--font-heading);
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
}

.desc {
    color: var(--desc-color);
    font-size: 1.6rem;
    line-height: 1.86;
}

/* Header */

.header__body {
    padding: 25px 0;
    display: flex;
    align-items: center;
}

.header__nav {
    margin-left: auto;
}

.header__list {
    display: flex;
}

.header__item + .header__item {
    margin-left: 40px;
}

.header__item a {
    font-weight: 500;
    font-size: 1.4rem;
}

.header__item a:hover {
    font-weight: 600;
}

.header__SignUp-btn {
    margin-left: auto;
    min-width: 117px;
    padding: 17px 0;
    border-color: var(--heading-color);
    opacity: 0.7;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    color: var(--heading-color);
    box-shadow: none;
}

.header__SignUp-btn:hover {
    opacity: 0.6;
}

/* Hero */
.hero {
    margin-top: 75px;
}

.hero__inner {
    display: flex;
    align-items: center;
}

.hero__media {
    display: flex;
    position: relative;
    padding-bottom: 94px;
    width: 52%;
}

.hero__media-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #fe997b;
    border: 3px solid #fff;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-right {
    top: 17px;
    right: -43px;
}

.hero__decor-left {
    left: -58px;
    bottom: 10px;
}

.hero__media-wrap-small {
    align-self: flex-end;
    width: 186px;
    height: 244px;
    margin-left: -23px;
    margin-bottom: -58px;
    border-radius: 16px;
    background: #faa7ad;
    border: 2px solid #f9d7db;
    z-index: 1;
}

.hero__lits {
    position: absolute;
    left: 129px;
    bottom: 0;
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    z-index: 1;
}

.hero-list-item {
    display: flex;
}

.hero-list-item__info {
    margin-left: 10px;
}

.hero-list-item__thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #fec23f;
    object-fit: cover;
}

.hero-list-item:nth-of-type(2) .hero-list-item__thumb {
    background: #c6e2fa;
}

.hero-list-item__title {
    color: #181e52;
    font-family: var(--font-heading);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-list-item__skeleton {
    margin-top: 6px;
    width: calc(var(--with, 118px));
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: var(--heading-color);
}

.hero-list-item__rectaganle {
    display: block;
    margin: 20px 0;
    width: 100%;
    height: 2px;
    background: #f2f2f2;
}

/* Hero content */
.hero__content {
    margin-left: 120px;
}

.hero__heading {
    width: 517px;
}

.hero__desc {
    margin-top: 24px;
    width: 391px;
}

.hero-row {
    margin-top: 38px;
}

.hero-row__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 189px;
    padding: 18px 0;
    transition: all 0.2s;
}

.hero-row__btn:hover {
    color: #fff;
    background: var(--primary-color);
    box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero-row__arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--primary-color);
    color: #fff;
}

.hero-row__btn:hover .hero-row__arrow {
    color: var(--primary-color);
    background: #fff;
}

.hero-row__cta {
    margin-left: 24px;
    color: var(--heading-color);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    transition: all 0.2s;
}

.hero-row__cta:hover {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

/* About */
.about {
    margin-top: 77px;
    padding: 53px 0;
}

.about__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__content {
    width: 40%;
}

.about__title {
    color: #5e6085;
    font-family: var(--font-heading);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.about__heading {
    margin-top: 15px;
    width: 446px;
}

.about__desc {
    margin-top: 24px;
    width: 431px;
}

.about-form {
    margin-top: 54px;
}

.about-form__group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 34px 36px;
}

.about__checkbox label {
    position: relative;
    display: flex;
    align-items: center;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;
}

.about__checkbox label::before,
.about__checkbox label::after {
    content: "";
    display: inline-block;
}

.about__checkbox label::before {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 4px;
    border: 2px solid #ccc;
}

.about__checkbox [type="checkbox"]:checked ~ label::before {
    background: #ff5d31;
    border-color: #ff5d31;
}

.about__checkbox [type="checkbox"]:checked ~ label:hover::before {
    box-shadow: 0 4px 15px -3px rgba(255, 93, 49, 0.69);
}

.about__checkbox [type="checkbox"]:checked ~ label::after {
    position: absolute;
    left: 7px;
    width: 14px;
    height: 10px;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 14 10" fill="none"%3E%3Cpath d="M12.8125 1L4.9375 8.87465L1 4.9375" stroke="%23FFF2E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* About media */
.about__media {
    position: relative;
    height: 559px;
    display: flex;
    align-items: flex-end;
}

.about__media-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    width: 494px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px 0 rgba(255, 155, 121, 0.12);
}

.about__img {
    position: absolute;
    bottom: 0;
    width: 450px;
    height: 602px;
    object-fit: cover;
}

.about__decor {
    position: absolute;
    top: -66px;
    right: -50px;
    z-index: -1;
}

.about__media-wrap-small {
    position: absolute;
    top: 165px;
    left: -92px;
    padding: 31px 26px 29px;
    width: 136px;
    height: 156px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0 rgba(85, 240, 255, 0.17);
}

.about__year {
    display: block;
    color: #fff;
    text-align: center;
    font-family: var(--font-heading);
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}

.about__experience {
    display: block;
    width: 83px;
    margin-top: 14px;
    color: #c6f4f9;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.43;
}

.about__decor-left {
    position: absolute;
    top: -36px;
    right: -35px;
}

/* Features */
.feature {
    margin-top: 93px;
    padding: 16px 0 55px;
}

.feature__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fearture__media-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    width: 458px;
    height: 500px;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.feature__img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 18px;
    /* box-shadow: 0 3px 63px 0 rgba(153, 183, 208, 0.59); */
    object-fit: cover;
}

.feature__decor {
    position: absolute;
}

.feature__decor-1 {
    right: -42px;
    bottom: -55px;
}

.feature__decor-2 {
    top: -16px;
    right: 13px;
}

.feature__decor-3 {
    top: 33px;
    right: -21px;
}

.feature__decor-4 {
    top: 13px;
    right: 63px;
}

.feature__decor-5 {
    top: 268px;
    right: -33px;
}

.feature__decor-6 {
    right: 19px;
    bottom: 150px;
}

/* Feature Content */
.feature__content {
    width: 49%;
}

.feature__desc {
    margin: 24px 0 52px;
    width: 511px;
}

.tab__list {
    position: relative;
    display: flex;
    column-gap: 56px;
}

.tab__list::after,
.tab__item-active::after,
.tab__content-more::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    height: 2px;
    border-radius: 1px;
    background: var(--primary-color);
    opacity: 0.07;
}

.tab__item-active::after {
    width: 95px;
    opacity: 1;
}

.tab__item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.tab__icon {
    width: 20px;
}

.tab__title {
    color: #48496a;
    font-family: var(--font-heading);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.tab__content {
    padding-top: 36px;
}

.tab__content-item {
    display: none;
}

.tab__content-item--active {
    display: block;
}

.tab__content-desc {
    width: 391px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.71;
}

.tab__content-more {
    position: relative;
    display: inline-block;
    padding-top: 32px;
    color: #ff5d31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    padding-bottom: 5px;
}

.tab__content-more::after {
    opacity: 1;
    height: 1.5px;
}
